<html lang="en">
    <!-- <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Ninja | <%= title %></title>
    </head> -->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- <nav>
            <div class="site-title">
                <a href="/"><h1>Blog Ninja</h1></a>
                <p> A Net Ninja Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav> -->
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem adipisci minima id? Necessitatibus corrupti provident error, cum cumque saepe quia sint autem obcaecati, eaque fugit similique molestias delectus fugiat porro.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsa quae enim cupiditate deleniti aliquam, porro magnam tempora molestiae quaerat omnis quod blanditiis dolores at officia non possimus nostrum animi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum modi cum eum sint, culpa ipsam possimus doloremque quis aliquid eos facilis, consequatur repellat similique assumenda expedita ducimus quod quos reprehenderit.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>